.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 5% auto 10%;
    height: 97vh;
    grid-template-areas:
    "hd hd"
    "asd nav"
    "asd art"
    "ftr ftr"
}

header {
    grid-area: hd;
    background-color: rgb(185, 227, 152);
    text-align: center;
}

aside {
    grid-area: asd;
    background-color: rgb(218, 203, 46);
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: rgb(243, 210, 48);
    text-align: center;
}

article {
    grid-area: art;
    background-color: rgb(34, 137, 102);
    text-align: center;
}

footer {
    grid-area: ftr;
    background-color: rgb(24, 53, 170);
    text-align: center;
}
